html {
background-image: url("images/dollar-signs-art--ec2b3042948c9fcf.jpg");
background-size: 100%;
}

div {
	text-align: right;
	float: right;
}

.tables {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-right: 5px;
	font-family: arial black;
}

table {
border: 10px solid green;
background-color: lightgreen;
text-align: center;
border-radius: 10px;
color: yellow;

}
.no-border 
{
	border: none;

}
td {
border: 1px solid black;
border-width: 1px;
border-radius: 10px;
height: 20px;

}
input {
border: 0px solid black;
background-color: lightgreen;
text-align: center;
border-radius: 10px;
}

output .out {
	font-size: 30px;

}

section {
	color: yellow;
	font-family: arial black;

}
button {
	font-family: comic sans ms;
	font-weight: bold;
	background-color: lightblue;
}
.button:hover {
	color: yellow;
	background-color: lightgreen;

}
#del_1:hover {
color: white;
background-color: red;
}

#edit:hover  {
	color: white;
	background-color: grey;
}

footer {
	color: white;
	font-family: chicago;
	font-weight: bold;
	position: absolute;
	bottom: 10px;
	right: 10px;

}